<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<routes>
    <route cities="3" cost="11115,51" team="Tonatiuh">
        <city id="0" name="campo base"/>
        <city id="3" name="Mixco Vieio"/>
        <city id="4" name="Rovine Perdute"/>
    </route>
    <route cities="3" cost="1791,00" team="Metzil">
        <city id="0" name="campo base"/>
        <city id="3" name="Mixco Vieio"/>
        <city id="4" name="Rovine Perdute"/>
    </route>
</routes>
